<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}


  <div class="container" style="margin-top:70px;" style="z-index: -1;">
  <div class="">
     <div class="panel panel-default">
        <div class="panel-body" style="color: #f5f5f5; padding-left: 0px; padding-right: 0px">
           <div style="border-bottom: 1px #f5f5f5 solid; padding-bottom: 10px;padding-left: 10px;"><b>{{ page.title }} - {{ page.date | date_to_string }}</b></div>
           <div style="margin-top: 8px;margin-left: 8px;margin-right: 8px;margin-bottom: 8px;">
             {{ content }}
           </div>
        </div>
     </div>
  </div>
</div>


{% include footer.html %}
  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>

</html>
