<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}


  <div class="container" style="margin-top:70px;" style="z-index: -1;">
  <div class="">
     <div class="panel panel-default">
        <div class="panel-body" style="color: #f5f5f5; padding-left: 0px; padding-right: 0px">
           <div style="margin-top: 8px;margin-left: 8px;margin-right: 8px;margin-bottom: 8px;">
             <div style="border-bottom: 1px #f5f5f5 solid;float:center;margin:10px;color: #f5f5f5">
               <h2>{{ page.title }}</h2>
               <h4 style="color: red;">{{ page.date | date_to_string }}</h4>
               <br>
               <br>
               </div>
               {{ content }}
           </div>
        </div>
     </div>
  </div>
</div>


{% include footer.html %}
  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>

</html>
